/* General Styles */
body {
  background-image: url(yallingup1.jpg);
  background-size: cover;
  background-attachment: fixed;
  
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #333;
  color: white;
}

nav .logo {
  font-size: 24px;
  font-weight: bold;
}

nav .job-title {
  font-size: 16px;
}

nav ul {
  padding: 15px;
  display: flex;
  gap: 20px;
}

nav ul li a {
  color: white;
  padding: 8px 16px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #555;

}

/* Hero Section */
.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 24px;
}

/* About Section */
.about {
  padding: 60px 20px;
  background-color: rgba(0, 0, 0, 0.50);
  text-align: left;
  color: white;

}

.about-content {

  max-width: 800px;
  margin: 0 auto;
}

.about p {
  font-size: 16px;
}

.about h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

/* Skills Section */
.skills {
  padding: 60px 20px;
  background-color: #fff;
  text-align: center;
}

.skills-content {
  max-width: 1000px;
  margin: 0 auto;
}

.skills h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

.skills-list {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.skill {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 200px;
}

.skill h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Projects Section */
.projects {
  padding: 60px 20px;
  background-color: #f4f4f4;
  text-align: center;
}

.projects h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

.project {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  margin: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Contact Section */
.contact {
  padding: 60px 20px;
  background-color: #fff;
  text-align: center;
}

.contact h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.contact form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact input,
.contact textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.contact button {
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.contact button:hover {
  background-color: #555;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
}
